body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
}

th {
    color: #a7a2ce;
}

#special-header {
    color: #cea7a1;
}

.changed-style {
    font-style: italic;
}